$primary:#264653;
$secondary:#2a9d8f;
$accent:#F4A261;

*, *::after,*::before{
    margin:0;
    padding:0;
    // box-sizing: border-box;
}
p{
  line-height:1.6;
  // color:white !important
}
body{
  height:100%;
  overflow: hidden;
}

a.active{
  color:$accent !important;
}
h1,h2,h3{
  line-height:1.1
}
// p,h1,h2,h3,h4,a{
  
// }

.nav{
  z-index:3;
  transition:top 1s cubic-bezier(.86,0,.07,1);
  position:absolute;
  top:-80px;
  left:0;
  width:100%;
  display:flex;
  flex-direction:row;
  align-items:center;
  justify-content:space-between;
  height:70px;
  background-color:$primary;
  
  &.show{
    top:0;
  }
  &-container{
    margin-right:4rem;
  }
  &-logo{
    height:3rem;
    width:5rem;
    padding: 0 1rem;
  }
  a, a:link, a:visited {
    padding:.8rem;
    color: #FFFAFA;
    text-decoration: none;
    font-size:1.3rem;
    &:hover{
      border-bottom:solid 2px $accent;
      margin-bottom:.135rem;
    }
  }
}
  // Sun and moon overlays
  .widget{ 
    
    font-size:1.2rem;
    display:flex;
    flex-direction: row;
    border-bottom :1px solid #999;
    justify-content: space-around;
    width:100%;
    max-height:18rem;
    padding:1rem .35rem;
    text-align:left;  
    color:black;
    &-container{
      width:50%;
    //   margin: 0 auto;
      display:block;
      span{
        float:right;
        margin-right:1rem;
    }
    }
    &-text{
      font-size:1.2rem;
      font-weight:600;
    }
}
#moon-overlay{ 
  float:left;
  [shadow]{
    filter:drop-shadow(0 0 25px rgb(0,50,50));
    padding:15px 0;
    }
    span{
        margin-left:40px;
    }
}

.title-card{
  font-size:2rem;
  max-width:30ch;
  display:block;
  margin:auto;
  padding-left:5rem;
  &-link{
    font-size:1.2rem;
    color:$secondary;
  }
}
//Star display

#celestial-map{
  z-index:1;
  // position:relative;
  top:60px;
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  max-width:100%;
  height:100vh;
  padding:4rem 0;
  background-size:100%;
  background:black;
  #map{
    margin:auto;
    max-width:100%;
    width:40rem;
    max-height:40rem;
    height:auto;
    object-fit: cover;
    overflow: hidden;
    object-position:60% 20%;
    
    &::before{
      content:'N';
      color:red;
      position:relative;
      top:-10px;
      left:50%;
    }

  }
}
  
.celestial-container{
  flex-direction:column;
}

.form-container{
  width:30rem;
  max-width:100%;
  padding:1rem;
  border-radius:6px;
  margin:4rem auto;
  background:rgba(252, 249, 249, 0.6);
}


.weather{
  flex-direction:column;
  &-hour-display{
    min-width:8rem;
    padding:1rem;
    border: 1px solid #999;
    border-radius:6px;
    margin:.5rem;
  }
  &-time{
    border-bottom: solid 1px #999;
  }
  &-icon{
    margin:auto;
  }
  &-container{
    display:flex;
    flex-direction:row;
    overflow-x:scroll;
  }
}

.overlay{
  pointer-events: none;
  position:absolute;
  width:100%;
  height:100%;
  background:transparent;
  display:flex;
  flex-direction:column;
  align-items:flex-start;
  justify-content:center;
}



.landing{
  color:#d2ecf7;
  opacity:0;
  pointer-events: none;
  max-width:100%;
  width:30rem;
  height:100%;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:flex-start;
  pointer-events:none;
  &-title{
    display:inline;
    text-align:left;
    font-size:clamp(3rem, 20vw, 10rem);
    padding-left:.5rem;
  }
  &-text{
    text-align:left;
    font-size:1.6rem;
    padding-left:1.3rem;
  }
}


.fade{
  animation:fade 3s ease-in 1;
  animation-fill-mode: both;
}
@keyframes fade{
  from{
    background:rgba(0,0,0,0);
    opacity:0;
  }
  to{
    opacity:1;
    
    background:rgba(0,0,0,.5)
  }

}


.slide-in-left{
  animation: slide-in-left 1s cubic-bezier(.95,.05,.8,.04) 2s;
  animation-fill-mode: both;
}
@keyframes slide-in-left{
  from{
    left:-4rem;
  }
  to{
    left:2rem;
  }
}
.slide-in-margin{
  animation: slide-in-margin 1s cubic-bezier(.95,.05,.8,.04) 2s;
  animation-fill-mode: both;
}
@keyframes slide-in-margin{
  from{
    margin-left:-20rem;
  }
  to{
    left:1.3rem;
  }
}
.link-button{
  font-size:1.3rem;
  pointer-events:auto;
  text-decoration: none;
  color:white;
  padding: .5rem 2rem;
  border:3px solid;
  border-radius:3px;
  margin-left:1.3rem;
  // &.accent{
  //   
  // }
  &:hover{
    border: 3px solid $secondary;
    color:$accent;
      
  }
}

.off-canvas{
  
  border-radius: 6px 6px 0 0;
  overflow:scroll;
  z-index:4;
  background:white;
  position:absolute;
  max-height:70vh;
  width:40rem;
  max-width:100%;
  bottom:calc(-70vh + 50px);
  left:0;
  transition:all .8s ease-in-out;
  &-launcher{
    display:none;
  }
  &.show{
    left:0;
    bottom:0;
  }
}
//overriding bootsrap just a little bit
.offcanvas-header{
  margin-top:30px !important;
}


.z-5{
  z-index:5;
  background:white;
}

.mobile-launcher{
  display:flex;
  align-items:center;
  justify-content:flex-end;
  background:white;
  position:fixed;
  height:40px;
  width:100%;
  max-width:40rem;
  border-radius: 6px 6px 0 0;
  & > button{
    margin-right:1rem;
  }
}
@media  screen and (min-width:700px){
  .off-canvas{
    border-radius:0 6px 6px 0;
    left:-100%;
    bottom:0;
    max-height:100vh;
    &-launcher{
      display:block;
      width:60px;
      border-radius:50%;
      border:none;
      position:absolute;
      top:50%;
      left:2rem;
      cursor:pointer;
      &:hover{
        color:$accent;
        
      }
    }
  }

}