*, *::after, *::before {
  margin: 0;
  padding: 0;
}

p {
  line-height: 1.6;
}

body {
  height: 100%;
  overflow: hidden;
}

a.active {
  color: #F4A261 !important;
}

h1, h2, h3 {
  line-height: 1.1;
}

.nav {
  z-index: 3;
  -webkit-transition: top 1s cubic-bezier(0.86, 0, 0.07, 1);
  transition: top 1s cubic-bezier(0.86, 0, 0.07, 1);
  position: absolute;
  top: -80px;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 70px;
  background-color: #264653;
}

.nav.show {
  top: 0;
}

.nav-container {
  margin-right: 4rem;
}

.nav-logo {
  height: 3rem;
  width: 5rem;
  padding: 0 1rem;
}

.nav a, .nav a:link, .nav a:visited {
  padding: .8rem;
  color: #FFFAFA;
  text-decoration: none;
  font-size: 1.3rem;
}

.nav a:hover, .nav a:link:hover, .nav a:visited:hover {
  border-bottom: solid 2px #F4A261;
  margin-bottom: .135rem;
}

.widget {
  font-size: 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-bottom: 1px solid #999;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  max-height: 18rem;
  padding: 1rem .35rem;
  text-align: left;
  color: black;
}

.widget-container {
  width: 50%;
  display: block;
}

.widget-container span {
  float: right;
  margin-right: 1rem;
}

.widget-text {
  font-size: 1.2rem;
  font-weight: 600;
}

#moon-overlay {
  float: left;
}

#moon-overlay [shadow] {
  -webkit-filter: drop-shadow(0 0 25px #003232);
          filter: drop-shadow(0 0 25px #003232);
  padding: 15px 0;
}

#moon-overlay span {
  margin-left: 40px;
}

.title-card {
  font-size: 3rem;
  font-weight: 500;
  color: #999;
  max-width: 20ch;
  display: block;
  margin: 6rem auto;
  padding-left: 5rem;
}

.title-card-link {
  font-size: 1.2rem;
  color: #2a9d8f;
}

#celestial-map {
  z-index: 1;
  top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 100%;
  height: 100vh;
  padding: 4rem 0;
  background-size: 100%;
  background: black;
}

#celestial-map #map {
  margin: auto;
  max-width: 100%;
  width: 40rem;
  max-height: 40rem;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  -o-object-position: 60% 20%;
     object-position: 60% 20%;
}

.celestial-container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-container {
  width: 30rem;
  max-width: 100%;
  padding: 1rem;
  border-radius: 6px;
  margin: 4rem auto;
  background: rgba(252, 249, 249, 0.6);
}

.weather {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.weather-hour-display {
  min-width: 8rem;
  padding: 1rem;
  border: 1px solid #999;
  border-radius: 6px;
  margin: .5rem;
}

.weather-time {
  border-bottom: solid 1px #999;
}

.weather-icon {
  margin: auto;
}

.weather-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  overflow-x: scroll;
}

.overlay {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.landing {
  color: #d2ecf7;
  opacity: 0;
  pointer-events: none;
  max-width: 100%;
  width: 30rem;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  pointer-events: none;
}

.landing-title {
  display: inline;
  text-align: left;
  font-size: clamp(3rem, 20vw, 10rem);
  padding-left: .5rem;
}

.landing-text {
  text-align: left;
  font-size: 1.6rem;
  padding-left: 1.3rem;
}

.fade {
  -webkit-animation: fade 3s ease-in 1;
          animation: fade 3s ease-in 1;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

@-webkit-keyframes fade {
  from {
    background: rgba(0, 0, 0, 0);
    opacity: 0;
  }
  to {
    opacity: 1;
    background: rgba(0, 0, 0, 0.5);
  }
}

@keyframes fade {
  from {
    background: rgba(0, 0, 0, 0);
    opacity: 0;
  }
  to {
    opacity: 1;
    background: rgba(0, 0, 0, 0.5);
  }
}

.slide-in-left {
  -webkit-animation: slide-in-left 1s cubic-bezier(0.95, 0.05, 0.8, 0.04) 2s;
          animation: slide-in-left 1s cubic-bezier(0.95, 0.05, 0.8, 0.04) 2s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

@-webkit-keyframes slide-in-left {
  from {
    left: -4rem;
  }
  to {
    left: 2rem;
  }
}

@keyframes slide-in-left {
  from {
    left: -4rem;
  }
  to {
    left: 2rem;
  }
}

.slide-in-margin {
  -webkit-animation: slide-in-margin 1s cubic-bezier(0.95, 0.05, 0.8, 0.04) 2s;
          animation: slide-in-margin 1s cubic-bezier(0.95, 0.05, 0.8, 0.04) 2s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

@-webkit-keyframes slide-in-margin {
  from {
    margin-left: -20rem;
  }
  to {
    left: 1.3rem;
  }
}

@keyframes slide-in-margin {
  from {
    margin-left: -20rem;
  }
  to {
    left: 1.3rem;
  }
}

.link-button {
  font-size: 1.3rem;
  pointer-events: auto;
  text-decoration: none;
  color: white;
  padding: .5rem 2rem;
  border: 3px solid;
  border-radius: 3px;
  margin-left: 1.3rem;
}

.link-button:hover {
  border: 3px solid #2a9d8f;
  color: #F4A261;
}

.off-canvas {
  border-radius: 6px 6px 0 0;
  overflow: scroll;
  z-index: 4;
  background: white;
  position: absolute;
  max-height: 70vh;
  width: 40rem;
  max-width: 100%;
  bottom: calc(-70vh + 50px);
  left: 0;
  -webkit-transition: all .8s ease-in-out;
  transition: all .8s ease-in-out;
}

.off-canvas-launcher {
  display: none;
}

.off-canvas.show {
  left: 0;
  bottom: 0;
}

.offcanvas-header {
  margin-top: 30px !important;
}

.z-5 {
  z-index: 5;
  background: white;
}

.mobile-launcher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background: white;
  position: fixed;
  height: 40px;
  width: 100%;
  max-width: 40rem;
  border-radius: 6px 6px 0 0;
}

.mobile-launcher > button {
  margin-right: 1rem;
}

@media screen and (min-width: 700px) {
  .off-canvas {
    border-radius: 0 6px 6px 0;
    left: -100%;
    bottom: 0;
    max-height: 100vh;
  }
  .off-canvas-launcher {
    display: block;
    width: 60px;
    border-radius: 50%;
    border: none;
    position: absolute;
    top: 50%;
    left: 2rem;
    cursor: pointer;
  }
  .off-canvas-launcher:hover {
    color: #F4A261;
  }
}
/*# sourceMappingURL=App.css.map */