*, *::after, *::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

p {
  line-height: 1.6;
}

body {
  overflow: hidden;
}

a.active {
  color: #F4A261 !important;
}

h1, h2, h3 {
  line-height: 1.1;
}

.nav {
  z-index: 3;
  -webkit-transition: top 1s cubic-bezier(0.86, 0, 0.07, 1);
  transition: top 1s cubic-bezier(0.86, 0, 0.07, 1);
  position: absolute;
  top: -80px;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 70px;
  background-color: #264653;
}

.nav.show {
  top: 0;
}

.nav-container {
  margin-right: 4rem;
}

.nav-logo {
  height: 3rem;
  width: 5rem;
  padding: 0 1rem;
}

.nav a, .nav a:link, .nav a:visited {
  padding: .8rem;
  color: #FFFAFA;
  text-decoration: none;
  font-size: 1.3rem;
}

.nav a:hover, .nav a:link:hover, .nav a:visited:hover {
  border-bottom: solid 2px #F4A261;
  margin-bottom: .135rem;
}

.widget {
  width: 100%;
  max-height: 18rem;
  padding: 1rem .35rem;
  text-align: left;
  color: black;
  border-bottom: 1px solid #f3a5a5;
}

.widget-container {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 100%;
  width: 35rem;
}

.widget-menu {
  width: 40rem;
  max-width: 100%;
}

.widget-launcher {
  width: 60px;
  border-radius: 50%;
  border: none;
  position: absolute;
  top: 50%;
  left: 2rem;
  cursor: pointer;
}

.widget-launcher:hover {
  color: #F4A261;
}

.widget div {
  border-bottom: solid 1px rgba(243, 165, 165, 0.5);
}

.widget img {
  margin-bottom: 2rem;
}

#moon-overlay [shadow] {
  -webkit-filter: drop-shadow(0 0 25px #003232);
          filter: drop-shadow(0 0 25px #003232);
  padding: 15px 0;
}

#moon-overlay span {
  margin-left: 40px;
}

#celestial-map {
  z-index: 1;
  position: relative;
  top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 100%;
  max-height: 100%;
  background-size: 100%;
  background: black;
}

#celestial-map #map {
  margin: auto;
  max-width: 100%;
  width: 40rem;
  max-height: 40rem;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 60% 20%;
     object-position: 60% 20%;
}

.celestial-container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-container {
  width: 30rem;
  max-width: 100%;
  padding: 1rem;
  border-radius: 6px;
  margin: 0 auto;
}

.weather-text {
  font-size: 1.2rem;
}

.weather-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  overflow-x: scroll;
}

.overlay {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.landing {
  color: #d2ecf7;
  opacity: 0;
  pointer-events: none;
  max-width: 100%;
  width: 30rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  pointer-events: none;
}

.landing-title {
  display: inline;
  text-align: left;
  font-size: 10rem;
  padding-left: .5rem;
}

.landing-text {
  text-align: left;
  font-size: 1.6rem;
  padding-left: 1.3rem;
}

.fade {
  -webkit-animation: fade 3s ease-in 1;
          animation: fade 3s ease-in 1;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

@-webkit-keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.slide-in-left {
  -webkit-animation: slide-in-left 1s cubic-bezier(0.95, 0.05, 0.8, 0.04) 2s;
          animation: slide-in-left 1s cubic-bezier(0.95, 0.05, 0.8, 0.04) 2s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

@-webkit-keyframes slide-in-left {
  from {
    left: -4rem;
  }
  to {
    left: 2rem;
  }
}

@keyframes slide-in-left {
  from {
    left: -4rem;
  }
  to {
    left: 2rem;
  }
}

.slide-in-margin {
  -webkit-animation: slide-in-margin 1s cubic-bezier(0.95, 0.05, 0.8, 0.04) 2s;
          animation: slide-in-margin 1s cubic-bezier(0.95, 0.05, 0.8, 0.04) 2s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

@-webkit-keyframes slide-in-margin {
  from {
    margin-left: -10rem;
  }
  to {
    left: 1.3rem;
  }
}

@keyframes slide-in-margin {
  from {
    margin-left: -10rem;
  }
  to {
    left: 1.3rem;
  }
}

.link-button {
  font-size: 1.3rem;
  pointer-events: auto;
  text-decoration: none;
  color: white;
  padding: .5rem 2rem;
  border: 3px solid;
  border-radius: 3px;
  margin-left: 1.3rem;
}

.link-button:hover {
  border: 3px solid #F4A261;
  color: #F4A261;
}

.off-canvas {
  overflow: scroll;
  z-index: 4;
  background: white;
  position: absolute;
  max-height: 100vh;
  width: 30rem;
  max-width: 100%;
}

.off-canvas-left {
  left: -100%;
  -webkit-transition: left .8s ease-in-out;
  transition: left .8s ease-in-out;
}

.off-canvas.show {
  left: 0;
  bottom: 0;
}

.z-5 {
  z-index: 5;
  background: white;
}
/*# sourceMappingURL=App.css.map */